* {
    box-sizing: border-box;
}

body {
    background-color: #621402;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.container {
    max-width: 1170px;
    margin: auto;
    width: 90%;
}

.header {
    background: linear-gradient(
            180deg,
            rgba(98, 20, 2, 0.31) 0%,
            #621402 85.62%
        ),
        url("../img/bg.jpg") no-repeat center top / cover;
    padding-bottom: 60px;
}

.m-menu {
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav {
    position: relative;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    margin-left: 17px;
}

.menu-item {
    margin-right: 25px;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.user {
    margin-left: auto;
    color: #fff;
    display: flex;
    align-items: center;
}

.avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    margin-left: 11px;
}

.film {
    margin-top: 60px;
    color: #fff;
}

.film-title-small {
    opacity: 0.5;
    font-size: 24px;
    line-height: 150%;
}

.film-title {
    font-size: 36px;
    line-height: 42px;
    margin-top: 11px;
    margin-bottom: 23px;
}

.film-description {
    font-size: 16px;
    line-height: 150%;
    max-width: 560px;
}

.film {
    display: flex;
    align-items: center;
}

.film-trailer {
    margin: auto;
}

.film-details {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.time {
    display: flex;
    align-items: center;
}

.time-icon {
    margin-right: 14px;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 34px;
}

.rating-icon {
    margin-right: 14px;
}

.rating-current {
    font-size: 24px;
    line-height: 150%;
}

.session {
    margin-top: 62px;
    padding-top: 46px;
    padding-bottom: 63px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.session-label {
    display: block;
    margin-bottom: 20px;
}

.session-date-block {
    display: flex;
}

.session-date-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    text-align: center;
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    transition: background-color 0.2s;
}

.seesion-month {
    font-size: 16px;
    line-height: 19px;
}

.session-day {
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
}

.session-week {
    font-size: 19px;
    line-height: 22px;
}

.session-date-item:hover {
    background-color: #fe8e05;
    color: #621402;
}

.select {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.15);
    color: #fff;
    padding: 18px;
    cursor: pointer;
    margin-top: 15px;
}

option {
    background-color: #621402;
}

.select-cinema {
    width: 470px;
}

.scheme {
    margin-bottom: 40px;
    border-radius: 10px;
    background: rgba(36, 36, 36, 0.18);
}

.no-fill {
    stroke: none;
}

.scheme.container svg rect:not(.no-fill) {
    fill: rgba(255, 255, 255, 0.2);
    stroke: none;
    cursor: pointer;
}

path.active {
    stroke: #fe8e05;
    stroke-opacity: 1;
}

rect.active:not(.fill-one, .fill-two, .fill-three, .brone) {
    fill: #fe8e05 !important;
}

path.active + rect:not(.fill-one, .fill-two, .fill-three, .brone) {
    fill: #fe8e05 !important;
}

rect.active:not(.fill-one, .fill-two, .fill-three, .brone) + path {
    stroke: #fe8e05;
    stroke-opacity: 1;
}

.fill-one {
    cursor: unset !important;
}

.fill-two {
    fill: #fe8e05 !important;
    cursor: unset !important;
}

.fill-three {
    fill: #a8a8a8 !important;
    cursor: unset !important;
}

rect.brone + path {
    stroke: #a8a8a8;
    stroke-opacity: 0.05;
}

rect.brone {
    fill: #a8a8a8 !important;
    stroke: #a8a8a8;
    stroke-opacity: 0.05;
    fill-opacity: 0.05;
}

.price {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price-label {
    display: block;
    font-size: 18px;
    line-height: 21px;
}

.price-tag {
    font-size: 52px;
    line-height: 61px;
}

.button {
    display: block;
    background: #fe8e05;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 24px 52px;
    text-decoration: none;
}

.modal {
    opacity: 0;
    user-select: none;
    width: 90%;
    height: 90vh;
    transition: all 0.4s;
    background: rgba(76, 17, 2, 0.42);
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.modal.active {
    opacity: 1;
    user-select: all;
    width: 100%;
    height: 100vh;
    transition: all 0.4s;
    pointer-events: all;
    border-radius: 30px;
}

.modalWindow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background: #2b0a02;
}

.modal iframe {
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

    .select-cinema {
        width: 100%;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 750px;
    }

    .session {
        flex-wrap: wrap;
    }

    .session-date {
        flex-basis: 70%;
        margin-bottom: 40px;
    }

    .session-time {
        order: 2;
    }

    .session-cinema {
        order: 3;
    }

    .menu-item {
        margin-right: 20px;
    }

    .menu {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }

    .menu {
        position: absolute;
        left: 0;
        top: 40;
        padding: 20px;
        margin-left: 20px;
        flex-direction: column;
        background-color: #621402;
        z-index: 9;
        border-radius: 10px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20%);
        transition: opacity 0.5s, transform 0.5s;
    }

    .menu-item:not(:last-child) {
        margin-bottom: 10px;
    }

    .m-menu {
        display: block;
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        margin-left: 10px;
        cursor: pointer;
    }

    .is-open {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }

    .film-description {
        margin-right: 30px;
    }

    .film {
        flex-direction: column;
    }

    .film-trailer {
        margin-right: auto;
        margin-left: 0;
        margin-top: 40px;
    }

    .session-date-item {
        width: 20%;
    }

    .session {
        display: flex;
        flex-direction: column;
    }

    .session-date {
        width: 100%;
    }

    .session-label {
        margin-bottom: 8px;
    }

    .session-cinema {
        margin-top: 16px;
    }

    .select {
        margin: 0;
    }

    .session-date {
        margin-bottom: 16px;
    }

    .button {
        padding: 8px 20px;
        font-size: 14px;
    }

    .price-tag {
        font-size: 20px;
        line-height: normal;
    }
}

@media (max-width: 375px) {
    .session-month {
        font-size: 12px;
        margin-top: 7px;
    }

    .session-day {
        font-size: 18px;
    }

    .session-week {
        font-size: 12px;
    }

    .film-description {
        font-size: 14px;
    }

    .film-title-small {
        font-size: 16px;
    }

    .film-title {
        font-size: 24px;
        line-height: normal;
    }

    .film-trailer {
        margin-top: 10px;
    }

    .film-trailer svg {
        width: 80px;
    }

    .film {
        margin-top: 0;
    }

    .session-date-item {
        margin: 0;
    }

    .session-date-block {
        justify-content: space-between;
    }

    .session-date-item {
        height: auto;
    }

    .session-day {
        line-height: 1.3;
    }

    .price.container {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .button {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        padding: 12px 0;
    }
}
